@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

:root {
    --header-height: 60px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.header {
    width: 100%;
    height: var(--header-height);
    padding: 0 5%;
    background: black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
}

.header-button {
    min-width: 100px;
    height: 100%;
    background: black;
    color: white;
    font-size: 18px;
    padding: 0 10px;
    margin: 0 15px;
    transition: 0.2s all;
    cursor: pointer;
}

.header-button:hover, .header-button.active {
    background: white;
    color: black;
}

.header-button-container {
    height: 100%;
}

.header-locale-button {
    position: relative;
}

.locale-menu {
    position: absolute;
    top: var(--header-height);
    left: 0;
    visibility: hidden;
    width: 100%;
    background: white;
}

.header-locale-button:hover .locale-menu {
    visibility: visible;
}

.locale-option {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    background: black;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s all;
    cursor: pointer;
}

.locale-option:hover {
    background: white;
    color: black;
}

.user-indicator {
    color: white;
    height: 100%;
    margin: 0 10px;
}

.full-screen {
    height: calc(100vh - var(--header-height));
    width: 100%;
    box-sizing: border-box;
}

.auth-header {
    width: 100%;
    font-size: 40px;
    padding: 10px 20px;
    margin: 10px -20px 30px -20px;
    border-bottom: 3px solid black;
}

.auth-menu {
    width: 600px;
    padding: 15px;
}

.auth-line {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 5px;
}


.auth-line input {
    font-size: 25px;
    width: 300px;
}

.auth-button {
    height: 60px;
    width: 160px;
    background: black;
    color: white;
    font-size: 25px;
    margin: 15px 40px;
    border: 2px solid black;
    transition: 0.2s all;
    cursor: pointer;
}

.auth-button:hover {
    background: white;
    color: black;
}

.auth-error-message {
    font-size: 21px;
    height: 25px;
    color: red;
    width: 100%;
}

.loading-screen {
    font-weight: lighter;
    font-size: 60px;
}

.main-page {
    box-sizing: border-box;
    padding: 20px 70px;
}

.loading-header {
    font-size: 35px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 70px;
    border-bottom: 4px solid black;
}

.loading-header span {
    opacity: 90%;
    transition: 0.2s all;
}

.loading-header span:hover {
    opacity: 70%;
}

.gif-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.table-page {
    padding: 50px 150px;
}

.table-page h1 {
    font-size: 40px;
}

.table-section {
    margin-bottom: 40px;
}

.table {
    width: 100%;
}

.table > div {
    height: 50px;
    margin: 10px 0;
    border-bottom: 2px solid black;
}

.table > div:last-child {
    border-bottom: none;
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-row-group-info {
    height: 100%;
    display: grid;
    grid-template-columns: 100px 300px 200px 200px;
}

.table-row-group-info span {
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: 20px;
}

.table-row-group-config {
    height: 100%;
    display: grid;
    grid-template-columns: 250px 200px 40px 40px
}

.table-row-group-config span {
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: 20px;
}

.table-row-group-config-button {
    visibility: hidden;
    cursor: pointer;
    opacity: 70%;
}

.table-row:hover .table-row-group-config-button {
    visibility: visible;
}

.table-row-group-config-button:hover {
    opacity: 100%;
}

.table-row-group-config-button img {
    width: 25px;
    height: 25px;
}

.group-info-panel {
    position: relative;
}

.group-info-panel > div {
    position: absolute;
    top: -7px;
    left: -7px;
    padding: 5px;
    visibility: hidden;
    width: 400px;
    background: white;
    border: 2px solid black;
    z-index: 1000;
    transition: 0.2s all;
    opacity: 0;
}

.group-info-panel:hover > div {
    visibility: visible;
    opacity: 100%;
}

.operation-buttons-container {
    display: flex;
}

.operation-button {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    opacity: 85%;
    cursor: pointer;
    position: relative;
}
.operation-button div {
    position: absolute;
    top: 0;
    left: 30px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.68);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all;
}

.operation-button:hover div {
    visibility: visible;
    opacity: 100%;
    z-index: 1500;
}

.operation-button img {
    width: 30px;
    height: 30px;
}

.operation-button:hover {
    opacity: 100%;
}

.group-info-header {
    margin-bottom: 15px;
}

.background-filter {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2500;
}

.menu {
    width: 400px;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid black;
    z-index: 2500;
}

.vertical-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.distinct-option {
    font-size: 20px;
    font-weight: bold;
}

.menu-header {
    margin: 10px 10px 30px 10px;
    width: 100%;
    height: 40px;
}

.full-screen-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2400;
}

.menu div {
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.menu-error-message {
    color: red;
}

.menu select, .menu input {
    width: 175px;
}

.menu-button {
    width: 110px;
    height: 60px;
    background: white;
    color: black;
    font-size: 18px;
    padding: 0 10px;
    margin: 15px;
    transition: 0.2s all;
    cursor: pointer;
    border: 2px solid black;
}

.menu-button:hover {
    background: black;
    color: white;
}